.Header {
    height: 50px;
    background-color: var(--secondary-section-color);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    color: var(--main-text-color);

}


.HeaderContainer {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: -1;
    padding: 10px 10px;
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    justify-content: center; /* Center horizontally */
    position: relative;
}

/*<----------LOGO BLOCK*<---------->/*/
.logo {
    margin-right: 10px;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logoBlock h1 {
    margin: 0;

}



/*<----------USER BLOCK*<---------->/*/
.UserInfoBlock {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    grid-column-start: 12;

}

.UserInfoBlock img {
    width: 26px;
    height: 26px;

}

.UserProfileBlock {
    width: 60px;

    border-radius: 10px;
    padding: 4px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.userAvatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #eaeaea;
    margin-right: 10px;

}

.arrow {
    width: 16px !important;
    height: 16px !important;
}


.switchBox{
    display: none ;
}

.swithcDiv {
    position: absolute;
    top: 10px;
    right: 0px;

}

.switchLabel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;


}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d1d1d1;
    transition: 0.4s;
    border-radius: 34px;
}

.switch switchBox {
    display: none
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 5px;
    top: 2px;
    background-color: #f9e127;
    transition: 0.4s;
    border-radius: 50%;

}

.switchBox:checked + .slider {
    background-color: #3d3d3d;

}

.switchBox:checked + .slider:before {
    transform: translateX(12px);
    background-color: #ebeaea;
}