.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);


    gap: 10px;
    overflow: hidden;
    height: 100%;
    color: var(--main-text-color);
}

.sidebar{
    grid-column-start: 7;
    grid-column-end: -1;


}

.uppperInfo{
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
}